/*******************************************************************************
 * Theme
 ******************************************************************************/

:root {
  --global-bg-color: #{$brand-cream};
  --global-code-bg-color: #{$code-bg-color};
  --global-text-color: #{$brand-brown};
  --global-text-color-light: #{rgba($brand-brown, 0.65)};
  --global-theme-color: #{$brand-teal};
  --global-hover-color: #{$brand-teal};
  --global-hover-text-color: #{$white-color};
  --global-footer-bg-color: #{$brand-maroon};
  --global-footer-text-color: #{$brand-cream};
  --global-footer-link-color: #{$brand-gold};
  --global-header-bg-color: #{$brand-maroon};
  --global-header-text-color: #{$brand-cream};
  --global-header-link-color: #{$brand-gold};
  --global-distill-app-color: #{rgba($brand-brown, 0.65)};
  --global-divider-color: #{rgba($brand-brown, 0.15)};
  --global-card-bg-color: #{$brand-tan};
  --global-highlight-color: #{$brand-gold};

  --global-tip-block: #42b983;
  --global-tip-block-bg: #e2f5ec;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #359469;
  --global-warning-block: #e7c000;
  --global-warning-block-bg: #fff8d8;
  --global-warning-block-text: #6b5900;
  --global-warning-block-title: #b29400;
  --global-danger-block: #c00;
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #600;
  --global-danger-block-title: #c00;
}
